
<div class="currency-update">
    <h2 class="text-middle-align">Select the units:</h2>
    <div class="currency-select">

        <mat-form-field class="select-style" appearance="outline">
            <mat-select [(ngModel)]="selectedValueLeft">
              @for (currency of currencies; track currency) {
                <mat-option [value]="currency.id">{{currency.description}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <h2 class="text-middle-align">to</h2>
          <mat-form-field class="select-style" appearance="outline">
            <mat-select [(ngModel)]="selectedValueRight">
              @for (currency of currencies; track currency) {
                <mat-option [value]="currency.id">{{currency.description}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
    </div>
        <div class="values">
            <h2 class="text-middle-align">Type the value you want to convert:</h2>
            <mat-form-field appearance="outline" class="currency-input">
                <mat-label>Type the value here</mat-label>
                <input matInput [disabled]="selectedValueLeft === undefined || selectedValueRight === undefined" type="number" [(ngModel)]="currencyValue" (keyup)="convertCurrency()">
            </mat-form-field>
            <div class="result">
              @if(returnCurrencyObj(selectedValueRight) !== undefined){
                <h2>converted to {{ returnCurrencyObj(selectedValueRight).name }} is:</h2>
                <h1>{{ returnCurrencyObj(selectedValueRight).sign }} {{ convertedValue | currencyAlefe }}</h1>
              }
            </div>

        </div>
</div>
