.currency-update
    width: 100%

.currency-select
    display: flex
    justify-content: space-between

.result
    display: flex
    flex-direction: row
    justify-content: space-between

.select-style
    width: 90px

.currency-input
    width: 100%
